@font-face {
  	font-family: "Collegiate";
  	font-weight: 400;
  	font-style: normal;
  	src: url('/fonts/SF_Collegiate.ttf');
}

#wrapper * {
	font-family: 'Molengo', sans-serif;
}

body {
	color: rgb(34, 34, 34);
}

.suprsubLogo {
	font-family: "Collegiate", sans-serif !important;
	font-weight: normal !important;
	padding-top: 0.1em !important;
	padding-bottom: 0.1em !important;
	color: #F0E68C !important;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.topBar {
	padding: 0.25em 5em;
	background-color: #6fbc16;
	float: left;
	width: 100%;
	box-shadow: 0 -5px 5px -5px rgba(37, 37, 37, 0.5) inset;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; 
}

.leftItem {
	font-size: 1.5em;
	font-weight: bold;
	float: left;
	padding: 0.25em 2em;
	display: inline;
}

.rightItem {
	font-size: 1.5em;
	font-weight: bold;
	float: right;
	padding: 0.25em 2em;
	display: inline;
	color: #F0E68C !important;
}

.pageLink a:link {
	color: #F0E68C !important;	
}
.pageLink a:visited {
	color: #F0E68C !important;	
}
.pageLink a:hover {
	color: #D8CF7E !important;
}
.pageLink a:active {
	color: #D8CF7E !important;	
}

#orbitHolder img {
	width: 100%;
	height: 400px;
	overflow: hidden;
	min-width: 1366px;
}

#orbitHolder .orbit-caption {
	font-size: 2em;
	text-align: center;
}

.icon {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0;
	display: block;
}

.iconBox {
	text-align: center;
	color: rgb(51, 51, 50);
}

#moreInfo {
	background-color: #6fbc16;
	padding-top: 1.5em;
	height: 100%;
	box-shadow: 0 5px 5px -5px rgba(37, 37, 37, 0.5) inset;
}

#moreInfo h3 {
	color: #F0E68C !important;
}

.socialHolder {
	margin: 0.25em 0;
}

#contactBox {
	color: #556B2F;
	border: 1px solid #556B2F;
}

#contactBox .fn {
	color: #f7ea79;
}

@media (max-width: 1000px) {

	.rightItem {
		padding: 0.25em 1em;
	}
}

@media (max-width: 800px) {

	.leftItem {
		padding: 0.25em 1em;
	}

  	.rightItem {
    	display: none;
  	}

	#orbitHolder img {
		height: 340px;
		overflow: hidden;
		min-width: 1200px;
		margin-left: -200px;
	}

	#orbitHolder #image8 {
		margin-left: -480px;
	}

	#orbitHolder li .orbit-caption {
		font-size: 1.5em;
	}

}